<a href="https://colab.research.google.com/github/ernie-Griffiths/Determining-the-Validity-of-Genetically-Engineered-Crops-in-a-Warming-Climate-Using-Machine-Learning/blob/main/DataManipulationWeather.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.set_option('display.max_columns', None)

Mounting the weather data.

In [ ]:
Weather_data = pd.read_csv("/content/drive/MyDrive/University of reading/MSC FINAL project/Data/Data Files/Weather_data/2019_weather_cleaned[1].csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
Weather_data.head(1)

,Field Location,Station ID,NWS Network,NWS Station,Date_key,Month,Day,Year,Time,Temperature [C],Dew Point [C],Relative Humidity [%],Solar Radiation [W/m2],Rainfall [mm],Wind Speed [m/s],Wind Direction [degrees],Wind Gust [m/s],Soil Temperature [C],Soil Moisture [%VWC],Soil EC [mS/cm],UV Light [uM/m2s],PAR [uM/m2s],CO2 [ppm]
0,COH1,8658,CO_ASOS,FNL,6/10/19 0:00,6,10,2019,0:00,9.5,2.72,62.6,0.0,0.0,4.0,235.0,2.45872,16.56,NaN,NaN,NaN,NaN,NaN

In [ ]:
Weather_data.dtypes

Field Location               object
Station ID                    int64
NWS Network                  object
NWS Station                  object
Date_key                     object
Month                         int64
Day                           int64
Year                          int64
Time                         object
Temperature [C]             float64
Dew Point [C]               float64
Relative Humidity [%]       float64
Solar Radiation [W/m2]      float64
Rainfall [mm]               float64
Wind Speed [m/s]            float64
Wind Direction [degrees]    float64
Wind Gust [m/s]              object
Soil Temperature [C]        float64
Soil Moisture [%VWC]        float64
Soil EC [mS/cm]             float64
UV Light [uM/m2s]           float64
PAR [uM/m2s]                float64
CO2 [ppm]                   float64
dtype: object

In [ ]:
thing = type(Weather_data['NWS Station'][0])
print(thing)
print("<this is the original>")
for i in Weather_data['NWS Station']:
  if thing != type(i):
    print(i)
    print(type(i))

<class 'str'>
<this is the original>

With certain colums of the weather dataset required modification , changing to from strings to floats, this would allow for averages to be taken that could then be applied to the phenotypical dataset.

Changing the Wind hust from an object containing strings and floats into just floats.

In [ ]:
Weather_data.loc[Weather_data['Wind Gust [m/s]'] == "#REF!", "Wind Gust [m/s]"] = 0
Weather_data['Wind Gust [m/s]'] = Weather_data['Wind Gust [m/s]'].astype(np.float64)

In [ ]:
print(Weather_data.dtypes)

Field Location               object
Station ID                    int64
NWS Network                  object
NWS Station                  object
Date_key                     object
Month                         int64
Day                           int64
Year                          int64
Time                         object
Temperature [C]             float64
Dew Point [C]               float64
Relative Humidity [%]       float64
Solar Radiation [W/m2]      float64
Rainfall [mm]               float64
Wind Speed [m/s]            float64
Wind Direction [degrees]    float64
Wind Gust [m/s]             float64
Soil Temperature [C]        float64
Soil Moisture [%VWC]        float64
Soil EC [mS/cm]             float64
UV Light [uM/m2s]           float64
PAR [uM/m2s]                float64
CO2 [ppm]                   float64
dtype: object

#Breaking the weather dataset up, into chunks.

In [ ]:
Location_array = Weather_data["Field Location"].unique()

In [ ]:
Location_array

array(['COH1', 'DEH1', 'GAH1', 'GAH2', 'GEH1', 'IAH1', 'IAH2', 'IAH3',
       'IAH4', 'ILH1', 'INH1', 'MIH1', 'MNH1', 'MOH1', 'NCH1', 'NEH1',
       'NEH2', 'NYH2', 'NYH3', 'OHH1', 'ONH2', 'SCH1', 'TXH1', 'TXH2',
       'TXH4', 'WIH1', 'WIH2'], dtype=object)

In [ ]:
LocationDict = dict(tuple(Weather_data.groupby('Field Location')))

In [ ]:
LocationDict[Location_array[1]]

,Field Location,Station ID,NWS Network,NWS Station,Date_key,Month,Day,Year,Time,Temperature [C],Dew Point [C],Relative Humidity [%],Solar Radiation [W/m2],Rainfall [mm],Wind Speed [m/s],Wind Direction [degrees],Wind Gust [m/s],Soil Temperature [C],Soil Moisture [%VWC],Soil EC [mS/cm],UV Light [uM/m2s],PAR [uM/m2s],CO2 [ppm]
7243,DEH1,9079,DE_ASOS,GED,5/9/19 0:00,5,9,2019,0:00,NaN,NaN,NaN,NaN,NaN,4.11,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7244,DEH1,9079,DE_ASOS,GED,5/9/19 0:25,5,9,2019,0:25,NaN,NaN,NaN,NaN,NaN,2.57,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7245,DEH1,9079,DE_ASOS,GED,5/9/19 0:54,5,9,2019,0:54,14.39,11.72,84.00,NaN,0.0,3.08,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7246,DEH1,9079,DE_ASOS,GED,5/9/19 1:25,5,9,2019,1:25,NaN,NaN,NaN,NaN,NaN,2.57,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7247,DEH1,9079,DE_ASOS,GED,5/9/19 1:54,5,9,2019,1:54,14.39,12.22,86.82,NaN,0.0,2.57,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13256,DEH1,9079,DE_ASOS,GED,9/12/19 21:30,9,12,2019,21:30,22.44,NaN,84.90,0.0,0.0,0.89,96.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN
13257,DEH1,9079,DE_ASOS,GED,9/12/19 22:00,9,12,2019,22:00,22.50,NaN,84.50,0.0,0.0,0.45,83.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN
13258,DEH1,9079,DE_ASOS,GED,9/12/19 22:30,9,12,2019,22:30,22.39,NaN,83.80,0.0,0.0,0.89,67.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN
13259,DEH1,9079,DE_ASOS,GED,9/12/19 23:00,9,12,2019,23:00,22.11,NaN,82.30,0.0,0.0,1.79,72.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN
13260,DEH1,9079,DE_ASOS,GED,9/12/19 23:30,9,12,2019,23:30,21.78,NaN,81.40,0.0,0.0,1.79,55.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN

Further breaking the dataframe into chunks based on the months,

In [ ]:
#i= 5
#TempMonthDataset = LocationDict[Location_array[i]].groupby('Month')[["Field Location","Month","Temperature [C]", "Dew Point [C]", "Relative Humidity [%]","Solar Radiation [W/m2]",	"Rainfall [mm]",	"Wind Speed [m/s]",	"Wind Direction [degrees]",	"Wind Gust [m/s]",	"Soil Temperature [C]",	"Soil Moisture [%VWC]",	"Soil EC [mS/cm]",	"UV Light [uM/m2s]",	"PAR [uM/m2s]",	"CO2 [ppm]"]].mean()
#TempMonthDataset["Field Location"] = Location_array[i]
#TempMonthDataset

In [ ]:
MonthedData = pd.DataFrame()
for i in range(len(Location_array)):
  TempMonthDataset = LocationDict[Location_array[i]].groupby('Month')[["Field Location","Month","Temperature [C]", "Dew Point [C]", "Relative Humidity [%]","Solar Radiation [W/m2]",	"Rainfall [mm]",	"Wind Speed [m/s]",	"Wind Direction [degrees]",	"Wind Gust [m/s]",	"Soil Temperature [C]",	"Soil Moisture [%VWC]",	"Soil EC [mS/cm]",	"UV Light [uM/m2s]",	"PAR [uM/m2s]",	"CO2 [ppm]"]].mean()
  TempMonthDataset["Field Location"] = Location_array[i]
 # print(i)
  MonthedData = pd.concat([MonthedData, TempMonthDataset], axis=0, ignore_index= True)

In [ ]:
MonthedData

,Month,Temperature [C],Dew Point [C],Relative Humidity [%],Solar Radiation [W/m2],Rainfall [mm],Wind Speed [m/s],Wind Direction [degrees],Wind Gust [m/s],Soil Temperature [C],Soil Moisture [%VWC],Soil EC [mS/cm],UV Light [uM/m2s],PAR [uM/m2s],CO2 [ppm],Field Location
0,6.0,18.044712,8.240526,58.383730,20.405754,0.005292,4.450199,160.195897,3.179749,18.566071,NaN,NaN,NaN,NaN,NaN,COH1
1,7.0,22.378562,12.368884,57.874059,21.711694,0.002048,4.115981,145.956582,2.964374,23.514872,NaN,NaN,NaN,NaN,NaN,COH1
2,8.0,21.785491,11.106942,56.688172,19.424059,0.001195,4.009524,147.092169,2.909936,25.320477,NaN,NaN,NaN,NaN,NaN,COH1
3,9.0,18.586379,6.630424,51.553606,36.262021,1.034747,4.035206,146.324076,3.045420,22.757006,NaN,NaN,NaN,NaN,NaN,COH1
4,10.0,6.074946,-4.430323,54.674825,139.413842,7.743074,0.019552,28.044318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COH1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,7.0,23.207144,18.517023,77.351411,286.526882,0.004267,0.887090,188.598234,2.543669,23.596190,26.438642,NaN,NaN,379.187500,NaN,WIH2
161,8.0,19.442433,15.628454,81.425941,225.787634,0.002560,0.287366,213.278195,1.333872,21.411875,22.951546,NaN,NaN,371.361559,NaN,WIH2
162,9.0,18.132389,15.227819,85.127778,135.939583,0.000706,0.618507,192.838621,2.138591,18.621410,25.688125,NaN,NaN,228.223611,NaN,WIH2
163,10.0,7.463622,3.956277,81.137702,97.384409,0.027483,0.916472,212.559382,2.718515,11.584395,51.667473,NaN,NaN,156.312500,NaN,WIH2
164,11.0,-1.383438,-5.307597,76.075069,56.924306,0.029104,1.189458,224.827901,2.860664,3.667521,55.290556,NaN,NaN,98.919444,NaN,WIH2

In [ ]:
MonthedData.to_csv('Averaged_Months_Weather_Data.csv')
!cp Averaged_Months_Weather_Data.csv "/content/drive/MyDrive/University of reading/MSC FINAL project/Data/Data Files/Weather_data/"